{% extends "base/base.html" %}
{% load static %}

{% block title %} Editar Contraseña{% endblock title %}
{% block stylesheets %}
{{ block.super }}
<link href="{% static 'project_static/other/js/select2/select2.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'project_static/other/js/bootstrap-touchspin-master/dist/jquery.bootstrap-touchspin.css' %}">
<link rel="stylesheet" href="{% static 'project_static/other/js/jquery-ui-themes-1.12.1/jquery-ui-themes-1.12.1/jquery-ui.min.css' %}">
<link href="{% static 'project_static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %} " rel="stylesheet">
<link href="{% static 'project_static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %} " rel="stylesheet">
<link href="{% static 'project_static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'project_static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %} " rel="stylesheet">
<link href="{% static 'project_static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %} " rel="stylesheet">

<style>
    .dataTables_info {
        width: 0 !important;
    }
</style>
{% endblock stylesheets %}
{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Editar Contraseña</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        {% if messages %}
        <div class="alert alert-success alert-dismissible" role="alert">
            {% for message in messages %}
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Información Personal</h2>                        
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <button type='button' class="btn btn-success float-right">
                            <a href="{% url 'edit_usuario' id %}" style="color: white;">
                                volver al perfil 
                            </a>
                        </button>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form class="" action="{% url 'change_password' id%}" method="POST">
                            {% csrf_token %}
                            <div>
                                {{ form.as_p }}
                            </div>
                            <!--<div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Contraseña Actual<span
                                        class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    {{ form.old_password }}
                                </div>
                            </div>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Contraseña Nueva<span
                                        class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    {{ form.new_password1 }}
                                </div>
                            </div>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Confirmar Contraseña Nueva<span
                                        class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    {{ form.new_password2 }}
                                </div>
                            </div>-->                           
                            <div class="ln_solid">
                                <div class="form-group">
                                    <div class="col-md-6 offset-md-3" style="margin-top: 1rem;">
                                        <button type='submit' id="test" class="btn btn-primary">Agregar</button>
                                        <button type='reset' class="btn btn-success">
                                            Reset                                           
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js_page %}
{{ block.super }}
<!-- validator -->
<script src="{% static 'project_static/vendors/validator/multifield.js' %}"></script>
<script src="{% static 'project_static/vendors/validator/validator.js' %}"></script>
<script src="{% static 'project_static/other/js/select2/select2.js' %}"></script>
<script src="{% static 'project_static/other/js/sweetalert.min.js' %}"></script>

<script>  
    $(function () {
        $('form input').on("cut copy paste", function (e) {
            e.preventDefault();
        });

        $('form input').removeAttr( "autofocus" )
        $('form input').removeAttr( "autocomplete")
    })

</script>
{% endblock js_page%}