{% extends "base/base.html" %}
{% load static %}

{% block title %} Editar Usuario{% endblock title %}
{% block stylesheets %}
{{ block.super }}
<link href="{% static 'project_static/other/js/select2/select2.css' %}" rel="stylesheet"/>

<style>
    .dataTables_info {
        width: 0 !important;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
        position: initial !important;
    }

    #id_password{
        display: none;
    }
</style>
{% endblock stylesheets %}
{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Editar Usuario</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        {% if messages %}
        <div class="alert alert-success alert-dismissible" role="alert">
            {% for message in messages %}
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Información Personal</h2>                        
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <button type='button' class="btn btn-success float-right">
                            <a href="{% url 'change_password' usuario.id %}" style="color: white;">
                                Cambiar Contraseña
                            </a>
                        </button>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form class="" action="{% url 'edit_usuario' usuario.id %}" method="POST">
                            {% csrf_token %}
                            <div>
                                {{ form.as_p }}
                            </div>
                            <!--<div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Nombre<span
                                        class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    {{ form.first_name }}
                                </div>
                            </div>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Apellido<span
                                        class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    {{ form.last_name }}
                                </div>
                            </div>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Usuario<span
                                        class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    {{ form.username }}
                                </div>
                            </div>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Email</label>
                                <div class="col-md-6 col-sm-6">
                                    {{ form.email }}
                                </div>
                            </div>
                            <div class="form-group field item">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Roles
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6">
                                    {{ form.groups }}
                                </div>
                            </div>-->
                            <div class="ln_solid">
                                <div class="form-group">
                                    <div class="col-md-6 offset-md-3" style="margin-top: 1rem;">
                                        <button type='submit' id="test" class="btn btn-primary">Agregar</button>
                                        <button type='button' class="btn btn-success">
                                            <a href="{% url 'list_usuarios' %}" style="color: white;">
                                                volver
                                            </a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js_page %}
{{ block.super }}
<!-- validator -->
<script src="{% static 'project_static/vendors/validator/multifield.js' %}"></script>
<script src="{% static 'project_static/vendors/validator/validator.js' %}"></script>
<script src="{% static 'project_static/other/js/select2/select2.js' %}"></script>
<script src="{% static 'project_static/other/js/sweetalert.min.js' %}"></script>


<script>  
    $(function () {
        $('form input').on("cut copy paste", function (e) {
            e.preventDefault();
        });


        $('.group_select').select2({
            placeholder: 'Seleccione los Permisos',
            language: "es",
            multiple: true,
        });

    })

</script>
{% endblock js_page %}